<h1 class='form-heading'>検索する</h1>
  <div class='form'>
    <%= search_form_for @q do |f| %>
      <div class='form-content'>
        <%= f.label :'スポット：' %>
        <%= f.search_field :name_cont, placeholder: 'キーワードを入力してください' %>
        <%= f.submit '検索' %>
        <br>
      </div>

      <div class='form-content'>
        <%= f.label :'テキスト：' %>
        <%= f.search_field :content_cont, placeholder: 'キーワードを入力してください' %>
        <%= f.submit '検索' %>
        <br>
      </div>

      <div class='form-pulldown'>
        <%= f.label :region_id, '都道府県：' %>
        <%= f.collection_select :region_id_eq, Region.all, :id, :name %>
        <%= f.submit '検索' %>
      </div>
    <% end %>
  </div>
 
<div class='spots'>
  <% if @q.conditions.present? && @spots.present? %>
    <br>
    <% @spots.each do |spot| %>
      <div class='bg-light border rounded shadow mb-3'>
        <%= link_to spot.name, "/spots/#{spot.id}" %>（<%= spot.region.name %>）
        <% if user_signed_in? %>
          <% if current_user.liked?(spot) %>
            <%= link_to spot_likes_path(spot), method: :delete do %>
              <span class="fa fa-heart liked-btn"></span>
              <span class="like__count"><%= spot.likes.count %></span>
            <% end %>
          <% else %>
            <%= link_to spot_likes_path(spot), method: :post do %>
              <span class="fa fa-heart-o unliked-btn"></span>
              <span class="like__count"><%= spot.likes.count %></span>
            <% end %>
          <% end %>
        <% else %>
          <span class="fa fa-heart-o liked-btn"></span>
          <span class="like__count"><%= spot.likes.count %></span>
        <% end %><br>

        <%= spot.content %>
      </div>
    <% end %>
    <br>
  <%else %>
    <div class='bg-light border rounded shadow mb-3'>
      <p class='no-result'>検索結果はありません</p>
    </div>
  <% end %>
</div>

<div class='linkbox'>
  <%if user_signed_in? %>
    <%= link_to 'スポットを投稿する', '/spots/new' %>
  <% end %>
</div>