<h1 class='fw-bold mb-4'>検索する</h1>
  <div class='form'>
    <%= search_form_for @q do |f| %>
      <div class='row gx-2 mb-4'>
        <label class='col-md-1 col-form-label text-md-end'><%= f.label :'スポット名' %></label>
        <%= f.search_field :name_cont, placeholder: 'スポット名を入力してください', class:'form-control- col-md-6 shadow' %>
        <%= f.submit '検索', class:'form-control- col-md-1 btn btn-primary shadow' %>
        <br>
      </div>

      <div class='row gx-2 mb-4'>
        <label class='col-md-1 col-form-label text-md-end'><%= f.label :'スポット詳細' %></label>
        <%= f.search_field :content_cont, placeholder: 'キーワードを入力してください', class:'form-control- col-md-6 shadow' %>
        <%= f.submit '検索', class:'form-control- col-md-1 btn btn-primary shadow' %>
        <br>
      </div>

      <div class='row gx-2 mb-4'>
        <label class='col-md-1 col-form-label text-md-end'><%= f.label :region_id, '都道府県' %></label>
        <%= f.collection_select :region_id_eq, Region.all, :id, :name, { prompt: '選択してください' }, autocomplete: 'region_id', class:'form-select- col-md-3 btn btn-secondary shadow' %>
        <%= f.submit '検索', class:'form-control- col-md-1 btn btn-primary shadow' %>
      </div>
    <% end %>
  </div>
 
<div class='row my-5'>
  <% if @q.conditions.present? && @spots.present? %>
    <br>
    <% @spots.each do |spot| %>
      <div class='col-md-8 bg-light border rounded shadow mb-4 p-2'>
        <%= link_to spot.name, "/spots/#{spot.id}", class: 'btn btn-secondary shadow' %>（<%= spot.region.name %>）
        <% if user_signed_in? %>
          <% if current_user.liked?(spot) %>
            <%= link_to spot_likes_path(spot), method: :delete do %>
              <span class="fa fa-heart liked-btn"></span>
              <span class="like__count"><%= spot.likes.count %></span>
            <% end %>
          <% else %>
            <%= link_to spot_likes_path(spot), method: :post do %>
              <span class="fa fa-heart-o unliked-btn"></span>
              <span class="like__count"><%= spot.likes.count %></span>
            <% end %>
          <% end %>
        <% else %>
          <span class="fa fa-heart-o liked-btn"></span>
          <span class="like__count"><%= spot.likes.count %></span>
        <% end %><br>

        <div class='mt-3'>
          <%= spot.content %>
        </div>
      </div>
    <% end %>
  <%else %>
    <h4 class='fw-bold'><br>検索結果はありません</h4>
  <% end %>
</div>

<div class='py-5'>
  <%if user_signed_in? %>
    <%= link_to 'スポット投稿', '/spots/new', class: 'btn btn-secondary shadow' %>
  <% end %>
</div>