<div class='spot'>
  <div class='spot-name'>
    <h1><%= @spot.name %>（<%= @spot.region.name %>）</h1>
  </div><br>

  <div class='spot-image'>
    <% unless @spot.image.url == nil %>
      <%= image_tag @spot.image.thumb.url %><br>
    <% end %>
  </div><br>
 
  <div class='like-btn'>
    <% if user_signed_in? %>
      <% if current_user.liked?(@spot) %>
        <%= link_to spot_likes_path(@spot), method: :delete do %>
          <span class="fa fa-heart liked-btn"></span>
          <span class="like__count"><%= @spot.likes.count %></span>
        <% end %>
      <% else %>
        <%= link_to spot_likes_path(@spot), method: :post do %>
          <span class="fa fa-heart-o unliked-btn"></span>
          <span class="like__count"><%= @spot.likes.count %></span>
        <% end %>
      <% end %>
    <% else %>
      <span class="fa fa-heart-o liked-btn"></span>
      <span class="like__count"><%= @spot.likes.count %></span>
    <% end %>
  </div>

  <div class='spot-content'>
    <p><%= @spot.content %></p>
  </div>

  <ul class='list-unstyled'>
    <% if user_signed_in? && @spot.user_id == current_user.id %>
      <li><%= link_to '編集', "/spots/#{@spot.id}/edit" %></li>
      <li><%= link_to '削除', "/spots/#{@spot.id}", method: :delete, data: {confirm: "スポットを削除してもよろしいですか？"} %></li>
    <% end %>
  </ul>

  <div class='comment'>
    <p class='comment-heading'>コメント</p>
    <ul class='list-unstyled'>
      <% @comments.each do |comment| %>
        <li>
          ・<%= comment.content %>
          (<%= comment.user.name %>さん)
          <% if user_signed_in? && comment.user_id == current_user.id %>
            <%= link_to '削除', comment_path(comment.id), method: :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class='comment-form'>
      <% if user_signed_in? %>
        <%= form_with model: [@spot, @comment], local: true do |f| %>
          <div class='form-content'>
            <%= f.text_area :content %>
          </div>

          <%= f.hidden_field :post_id, value: @spot.id %><br>

          <div class='form-btn'>
            <%= f.submit 'コメントする' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div><br>

<ul class='list-unstyled'>
  <li><%= link_to 'スポットを検索する', '/' %></li>
  <% if user_signed_in? %>
    <li><%= link_to 'スポットを投稿する', '/spots/new' %></li>
  <% end %>
</ul>