<div class='spot'>
  <div class='spot-image'>
    <% unless @spot.image.url == nil %>
      <%= image_tag @spot.image.thumb.url %><br>
    <% end %>
  </div>

  <div class='spot-name'>
    <%= @spot.name %>
  </div>

  <div class='spot-region'>
    <%= @spot.region.name %>
  </div>

  <div class='spot-content'>
    <%= @spot.content %>
  </div>

  <div class='like-btn'>
    <% if user_signed_in? %>
      <% if current_user.liked?(@spot) %>
        <%= link_to spot_likes_path(@spot), method: :delete do %>
          <span class="fa fa-heart liked-btn"></span>
          <span class="like__count"><%= @spot.likes.count %></span>
        <% end %>
      <% else %>
        <%= link_to spot_likes_path(@spot), method: :post do %>
          <span class="fa fa-heart-o unliked-btn"></span>
          <span class="like__count"><%= @spot.likes.count %></span>
        <% end %>
      <% end %>
    <% else %>
      <span class="fa fa-heart-o liked-btn"></span>
      <span class="like__count"><%= @spot.likes.count %></span>
    <% end %>
  </div>

  <div class='spot-delete'>
    <% if user_signed_in? && @spot.user_id == current_user.id %>
      <%= link_to '削除', "/spots/#{@spot.id}", method: :delete %>
    <% end %>
  </div>

  <div class='comment'>
    <p class='comment-heading'>コメント</p>
    <div class='comment-item'>
      <% @comments.each do |comment| %>
        ・<%= comment.content %>
        (<%= comment.user.name %>さん)
        <div class='link-box'>
          <% if user_signed_in? && comment.user_id == current_user.id %>
            <%= link_to '削除', spot_comments_path(@spot), method: :delete %>
          <% end %>
        </div>
      <br>
      <% end %>
    </div>

    <div class='comment-form'>
      <% if user_signed_in? %>
        <%= form_with model: [@spot, @comment], local: true do |f| %>
          <div class='form-content'>
            <%= f.text_area :content %>
          </div>

          <%= f.hidden_field :post_id, value: @spot.id %><br>

          <div class='form-btn'>
            <%= f.submit 'コメントする' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class='linkbox'>
  <% if user_signed_in? && @spot.user_id == current_user.id %>
    <%= link_to 'スポットを編集する', "/spots/#{@spot.id}/edit" %>
  <% end %>
</div><br>

<div class='linkbox'>
  <%= link_to 'スポットを検索する', '/' %>
</div>

<div class='linkbox'>
  <% if user_signed_in? %>
    <%= link_to 'スポットを投稿する', '/spots/new' %>
  <% end %>
</div>