<% unless @spot.image.url == nil %>
  <%= image_tag @spot.image.thumb.url %><br>
<% end %>
<%= @spot.name %>
<%= @spot.content %>
<%= @spot.region.name %>

<% if user_signed_in? %>
    <% if current_user.liked?(@spot) %>
        <%= link_to spot_likes_path(@spot), method: :delete do %>
            <span class="fa fa-heart liked-btn"></span>
            <span class="like__count"><%= @spot.likes.count %></span>
        <% end %>
    <% else %>
        <%= link_to spot_likes_path(@spot), method: :post do %>
            <span class="fa fa-heart-o unliked-btn"></span>
            <span class="like__count"><%= @spot.likes.count %></span>
        <% end %>
    <% end %>

<% else %>
    <span class="fa fa-heart-o liked-btn"></span>
    <span class="like__count"><%= @spot.likes.count %></span>
<% end %>

<br><br>コメント<br>
<% @comments.each do |comment| %>
  ・<%= comment.content %><br>
<% end %>

<%= form_with model: [@spot, @comment], local: true do |f| %>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id, value: @spot.id %><br>
  <%= f.submit 'コメントする' %>
<% end %>

<br><%= link_to 'スポットを検索する', '/' %>
<br><%= link_to 'スポットを投稿する', '/spots/new' %>