<h1 class='mb-5'>ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row gx-2 mb-4">
    <label class='col-md-1 col-form-label text-md-end'><%= f.label :email %></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control- col-md-7 shadow' %>
  </div>

  <div class="row gx-2 mb-4">
    <label class='col-md-1 col-form-label text-md-end'><%= f.label :password %></label>
    <%= f.password_field :password, autocomplete: "current-password", class:'form-control- col-md-7 shadow' %>
  </div>

  <div class="row gx-2 mb-4">
    <div class='col-8 text-end'>
      <%= f.submit "ログイン", class: 'btn btn-primary px-3' %>
    </div>
  </div>
<% end %>
