<h1 class='mb-4'>マイページ</h1>
<div class='spots-link'>
  <a href='#spots-like' class='btn btn-secondary mb-2 px-3 shadow'>いいねしたスポット</a><br>
  <a href='#spots-create' class='btn btn-secondary mb-5 px-3 shadow'>登録したスポット</a>
</div>

<div class='update-account'>
  <%= link_to 'アカウント編集', '/users/edit', class: 'btn btn-secondary mb-2 px-3 shadow' %>
</div>

<div class='delete-account pb-5'>
  <%= button_to 'アカウント削除', user_registration_path, method: :delete, data: { confirm: "アカウントを削除してもよろしいですか？" }, class: 'btn btn-danger shadow px-3' %>
</div><br>

<div class='row'>
  <div id='spots-like' class='col-md-8'><h4 class='mt-3'>いいねしたスポット</h4>
    <% if @spots_like.empty? %>
      <div class='my-4'>
        <p class='spots-empty'>スポットをいいねしていません。</p>
      </div>
    <% else %>
      <% @spots_like.each do |spot| %>
        <div class='spots-like'>
          <div class='bg-light border rounded shadow mb-4 p-2'>
            <% if current_user.liked?(spot) %>
              <%= button_to spot_likes_path(spot), class:'like-btn bg-light border-0', method: :delete do %>
                <%= link_to spot.name + '（' + spot.region.name + '）', "/spots/#{spot.id}", class: 'btn btn-secondary shadow ps-3' %>
                <div class='btn btn-light btn-lg text-danger ms-2'>
                  <span class='fa fa-heart'></span>
                  <span class='like__count'><%= spot.likes.count %></span>
                </div>
              <% end %>
            <% end %>
            <div class='mt-2 mx-2 mb-1'>
              <%= safe_join(spot.content.split("\n"),tag(:br)) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class=my-5></div>

  <div id='spots-create' class='pb-4 col-md-8'><h4 class='mt-3'>登録したスポット</h4>
    <% if @spots_create.empty? %>
      <div class='my-4'>
        <p class='spots-empty'>スポットを登録していません。</p>
      </div>
    <% else %>
      <% @spots_create.each do |spot| %>
        <div class='spots-create'>
          <div class='bg-light border rounded shadow mb-4 p-2'>
            <% if user_signed_in? %>
              <% if current_user.liked?(spot) %>
                <%= button_to spot_likes_path(spot), class:'like-btn bg-light border-0', method: :delete do %>
                  <%= link_to spot.name + '（' + spot.region.name + '）', "/spots/#{spot.id}", class: 'btn btn-secondary shadow ps-3' %>
                  <div class='btn btn-light btn-lg text-danger ms-2'>
                    <span class='fa fa-heart'></span>
                    <span class='like__count'><%= spot.likes.count %></span>
                  </div>
                <% end %>
              <% else %>
                <%= button_to spot_likes_path(spot), class:'like-btn bg-light border-0', method: :post do %>
                  <%= link_to spot.name + '（' + spot.region.name + '）', "/spots/#{spot.id}", class: 'btn btn-secondary shadow ps-3' %>
                  <div class='btn btn-light btn-lg text-danger ms-2'>
                    <span class='fa fa-heart-o'></span>
                    <span class='like__count'><%= spot.likes.count %></span>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div class='btn btn-light btn-lg text-danger ms-2'>
                <span class='fa fa-heart-o'></span>
                <span class='like__count'><%= spot.likes.count %></span>
              </div>
            <% end %>
            <div class='mt-2 mx-2 mb-1'>
              <%= safe_join(spot.content.split("\n"),tag(:br)) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
