<h1 class='form-heading'>マイページ</h1>
  <a href='#spot-create'>投稿したスポット</a><br>
  <a href='#spot-like'>いいねしたスポット</a><br><br>
  <div class='update-account'>
    <%= link_to 'アカウント編集', '/users/edit' %>
  </div>
  <div class='delete-account'>
    <%= link_to 'アカウント削除', user_registration_path, method: :delete, data: { confirm: "アカウントを削除してもよろしいですか？" } %>
  </div><br>

<div class='spots'>
  <a id='spot-create'>・投稿したスポット</a>
  <% if @spots_create.empty? %>
    <p class='spots-empty'>スポットを投稿していません</p>
  <% else %>
    <% @spots_create.each do |spot| %>
      <div class='spot-create'>
        <div class='spot'>
          <%= link_to spot.name, "/spots/#{spot.id}" %>（<%= spot.region.name %>）
          <% if user_signed_in? %>
            <% if current_user.liked?(spot) %>
              <%= link_to spot_likes_path(spot), method: :delete do %>
                <span class="fa fa-heart liked-btn"></span>
                <span class="like__count"><%= spot.likes.count %></span>
              <% end %>
            <% else %>
              <%= link_to spot_likes_path(spot), method: :post do %>
                <span class="fa fa-heart-o unliked-btn"></span>
                <span class="like__count"><%= spot.likes.count %></span>
              <% end %>
            <% end %>
          <% else %>
            <span class="fa fa-heart-o liked-btn"></span>
            <span class="like__count"><%= spot.likes.count %></span>
          <% end %>
        </div>
        
        <div class='spot-content'>
          <%= spot.content %>
        </div><br>
      </div>
    <% end %>
  <% end %>
</div>

<div class='spots'>
  <a id='spot-like'>・いいねしたスポット</a>
  <% if @spots_like.empty? %>
    <p class='spots-empty'>スポットをいいねしていません</p>
  <% else %>
    <% @spots_like.each do |spot| %>
      <div class='spot-like'>
        <div class='spot'>
          <%= link_to spot.name, "/spots/#{spot.id}" %>（<%= spot.region.name %>）
          <% if user_signed_in? %>
            <% if current_user.liked?(spot) %>
              <%= link_to spot_likes_path(spot), method: :delete do %>
                <span class="fa fa-heart liked-btn"></span>
                <span class="like__count"><%= spot.likes.count %></span>
              <% end %>
            <% else %>
              <%= link_to spot_likes_path(spot), method: :post do %>
                <span class="fa fa-heart-o unliked-btn"></span>
                <span class="like__count"><%= spot.likes.count %></span>
              <% end %>
            <% end %>
          <% else %>
            <span class="fa fa-heart-o liked-btn"></span>
            <span class="like__count"><%= spot.likes.count %></span>
          <% end %>

        <div class='spot-content'>
          <%= spot.content %>
        </div><br>
      </div>
    <% end %>
  <% end %>
</div>

<ul class='list-unstyled'>
  <li><%= link_to 'スポットを検索する', '/' %></li>
  <li><%= link_to 'スポットを投稿する', '/spots/new' %></li>
</ul>