<h1 class='fw-bold'>マイページ</h1><br><br>
  <a href='#spot-create' class='btn btn-secondary mb-2 px-3 shadow'>投稿したスポット</a><br>
  <a href='#spot-like' class='btn btn-secondary mb-5 px-3 shadow'>いいねしたスポット</a>
  <div class='update-account'>
    <%= link_to 'アカウント編集', '/users/edit', class: 'btn btn-secondary mb-2 px-3 shadow' %>
  </div>
  <div class='delete-account'>
    <%= link_to 'アカウント削除', user_registration_path, method: :delete, data: { confirm: "アカウントを削除してもよろしいですか？" }, class: 'btn btn-danger shadow px-3' %>
  </div><br>

<div class='row'>
  <div id='spot-create' class='pt-5 col-md-8'><h5 class='fw-bold'>投稿したスポット</h5>
    <% if @spots_create.empty? %>
      <div class='mb-1'>
        <p class='spots-empty'>スポットを投稿していません</p>
      </div>
    <% else %>
      <% @spots_create.each do |spot| %>
        <div class='spot-create'>
          <div class='bg-light border rounded shadow mb-4 p-2'>
            <%= link_to spot.name + '（' + spot.region.name + '）', "/spots/#{spot.id}", class: 'btn btn-secondary shadow ps-3' %>

            <% if user_signed_in? %>
              <% if current_user.liked?(spot) %>
                <%= link_to spot_likes_path(spot), method: :delete do %>
                  <div class='btn btn-light btn-lg text-danger ms-2'>
                    <span class="fa fa-heart liked-btn"></span>
                    <span class="like__count"><%= spot.likes.count %></span>
                  </div>
                <% end %>
              <% else %>
                <%= link_to spot_likes_path(spot), method: :post do %>
                  <div class='btn btn-light btn-lg text-danger ms-2'>
                    <span class="fa fa-heart-o unliked-btn"></span>
                    <span class="like__count"><%= spot.likes.count %></span>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div class='btn btn-light btn-lg text-danger ms-2'>
                <span class="fa fa-heart-o liked-btn"></span>
                <span class="like__count"><%= spot.likes.count %></span>
              </div>
            <% end %><br>
            
            <div class='mt-3'>
              <%= spot.content %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div><br>

  <div id='spot-like' class='py-5 col-md-8'><h5 class='fw-bold'>いいねしたスポット</h5>
    <% if @spots_like.empty? %>
      <div class='mb-1'>
        <p class='spots-empty'>スポットをいいねしていません</p>
      </div>
    <% else %>
      <% @spots_like.each do |spot| %>
        <div class='spot-like'>
          <div class='bg-light border rounded shadow mb-4 p-2'>
            <%= link_to spot.name + '（' + spot.region.name + '）', "/spots/#{spot.id}", class: 'btn btn-secondary shadow ps-3' %>
            <% if user_signed_in? %>
              <% if current_user.liked?(spot) %>
                <%= link_to spot_likes_path(spot), method: :delete do %>
                  <div class='btn btn-light btn-lg text-danger ms-2'>
                    <span class="fa fa-heart liked-btn"></span>
                    <span class="like__count"><%= spot.likes.count %></span>
                  </div>
                <% end %>
              <% else %>
                <%= link_to spot_likes_path(spot), method: :post do %>
                  <div class='btn btn-light btn-lg text-danger ms-2'>
                    <span class="fa fa-heart-o unliked-btn"></span>
                    <span class="like__count"><%= spot.likes.count %></span>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div class='btn btn-light btn-lg text-danger ms-2'>
                <span class="fa fa-heart-o liked-btn"></span>
                <span class="like__count"><%= spot.likes.count %></span>
              </div>
            <% end %><br>

            <div class='mt-3'>
              <%= spot.content %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div><br><br>

<div class='py-5'>
  <%= link_to 'スポット検索', '/', class: 'btn btn-secondary mb-2 px-3 shadow' %><br>
  <%= link_to 'スポット投稿', '/spots/new', class: 'btn btn-secondary px-3 shadow' %>
</div>