<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='bg-secondary bg-opacity-10'>
      <header>
        <div class='d-flex bg-light border rounded shadow mb-3'>
          <div class='my-2 me-2 py-3'>
            <%= link_to('トップページ', '/') %>
          </div>

          <%- if user_signed_in? %>
            <div class='m-2 py-3'>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><br />
            </div>
            
            <div class='m-2 py-3'>
              <%= link_to 'マイページ', "/users/#{current_user.id}" %><br />
            </div>


          <%- else %>
            <div class='m-2 py-3'>
              <%- if controller_name != 'sessions' %>
                <%= link_to 'ログイン', new_session_path(resource_name) %><br />
              <% end %>
            </div>

            <div class='m-2 py-3'>
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to 'アカウント登録', new_registration_path(resource_name) %><br />
              <% end %>
            </div>
          <%- end %>

          <div class='header-content'>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
            <% end %>
          </div>

          <div class='header-content'>
            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
              <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
            <% end %>
          </div>

          <div class='header-content'>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
              <% end %>
            <% end %>
          </div>
        </div>
      </header>
      <main>
        <div class='greeting'>
          <% if current_user.present? %>
            <h4>こんにちは、<%= current_user.name %>さん！</h4>
              <% else %>
            <h4>こんにちは、ゲストさん！</h4>
          <% end %>
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </main>
      <script src="js/bootstrap.bundle.min.js"></script>
      <%= yield %>
    </body>
  </div>
</html>
